{{#each snippets}}
<pre><code>{{snippetBody}}</code></pre>
{{/each}}

<div class="container">
  
  <div class="jumbotron">
      <h1>Snippet Bank</h1>
      <h3>[rough template]</h3>
      <hr>
      <button id="addSnippet" class="btn btn-danger btn-lg"><span class="fa fa-plus"></span> Add New Snippet</button>
    </div>

    <!-- This is the form where a new character is added -->
    <div id="newSnippetArea" class="row" style="display: none;">
      <div class="col-12">

        <form action="/" method="POST" name="snippets" class="form-group">
          <label>snippetTitle</label>
          <input type="text" class="form-control" name="newTitle" id="newTitle" value="" />
        
          <label>language</label>
          <input type="text" class="form-control" name="newLanguage" id="newLanguage" value="" />
        
          <label>description</label>
          <textarea type="text" class="form-control" name="newDescription" id="newDescription" value=""></textarea>
        
          <label>snippetBody</label>
          <textarea type="text" class="form-control" name="newSnippetBody" id="newSnippetBody" value="" ></textarea>
        
          <button type="submit" id="submitSnippet" class="btn btn-primary">Save</button>

        </form>
        
      </div>
    </div>

</div>

<script>

  // Event handler for "Add New Snippet" button click
  $("#addSnippet").on("click", function(event){
      event.preventDefault();

      // Show the form for adding a character
      $("#newSnippetArea").show();
    });

</script>