body{
    background-color: #000000;
    
}
.container {
    background-color: #C5C6C7;
    padding: initial;

}

.list-container .card {
    height: calc(100vh - 70px);
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-container {
    padding-left: 0;
}

.list-container .list-group, .list-container .list-group-item:first-child, .list-container .card {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-container i {
    font-size: 1.1rem;
    cursor: pointer;
}

.list-container .list-group-item {
    border-left: none;
    border-right: none;
    padding: 20px;
    cursor: pointer;
}

h1 {
    color: #66FCF1;
    font-size: 6.5rem;
}

.jumbotron {
    background-color: #1F2833;
    padding-left: 75px;
    color: #FFF;
    margin-bottom: 4rem;
    border-bottom: 20px;
    border-color:#414141;
    border-bottom-style: solid;
    border-radius: 0;
}

form, #snippetCard {
    padding: 5px;
    background-color: #6E757C;
}

#addSnippet {
    border-color: #66FCF1;
    color: #FFFFFF;
}

.btn {
    background-color: #000000;
    color: #66FCF1;
}

.test {
    color: #45A29E;
}


@media  (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1500px;
        margin-top: 100px;
    }
}

.btn.btn-secondary.dropdown-toggle {
    width: 64%;
    padding-left: 10px;
    margin-left: 56px;
    height: 80px;
}
.btn.btn-secondary.dropdown-toggle.orderby{
    margin-left: -20px;
    min-width: 180px;
}
[name="searchForm"]{
    margin-left:-10px;  
    margin-right: 40px;
  
}
.list-container.snippets{
    margin-top: 35px;
    margin-left: 70px;
   

}
#tagUL {
    list-style: none;
}

/* This controls the buttons of how a snippets tags are styled */
.tagButton {
	box-shadow:inset 0px -3px 7px 0px #66fcf2;
	background:linear-gradient(to bottom, #73bfb7 5%, #66fcf2 100%);
	background-color:#73bfb7;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.tagButton:hover {
	background:linear-gradient(to bottom, #66fcf2 5%, #73bfb7 100%);
	background-color:#66fcf2;
}
.tagButton:active {
	position:relative;
	top:1px;
}

/* This controls the Add Tag and Delete Tag Buttons */
.tagButtonSpecial {
    background-color: #000000;
    color: #66FCF1;
    text-align: center;
    /* width: 75px; */
    /* height: 25px; */
    margin: 1.5px;
}
